
.navbar {
  background-color: #8987DF;
  border-bottom-color: #8987DF;
  color: #fff;
  border-bottom: 0px !important;
}

.navbar-default, .navbar-nav>li>a, .navbar-text {
  color: #fff !important;
}

.ovrflw {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
}

div.center {
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

div.jumbotron, div.jumbotron-fluid  {
  background-color: #8987DF;
  color: #fefefe;
}

.nh-w {
  width: 66%;
  margin: 0 auto;
}

.spacing {
  margin: 10px;
}

.card {
  padding: 10px;
}

#search_butt {
  margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 7.4;
    border-bottom-width: 2px;
    height: 33.8px;
}

.nav-link.active {
  background-color: #8269D8 !important;
  border-bottom: 1px;
  border-color: #8269D8 !important;
}

.navbar-collapse {
border-top: 1px #8987df !important;
}

td, th {
  font-size: 120% !important;
}

.gitter-chat-embed {
  top: 7%;
}

span.icon-bar {
  background-color: #fefefe !important;
}

.navbar-toggle:hover, .navbar-toggle {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0px rgba(0, 0, 0, 0) !important;
}
/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

h1 {
  font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
} 

/* Layout */
.s-layout {
   display: flex;
   width: 100%;
   min-height: 4vh;
}

.s-layout__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
   z-index: 8;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
    background: linear-gradient(270deg,#2f2e2e 0,#090909 100%);font-size: 16px;
}

.s-sidebar__trigger>i {
    display: inline-block;
    margin: 0.5em 0 0 0.6em;
    color: #c90;
    font-size: 32px;
}
.s-sidebar__nav {
   position: fixed;
   top: 0;
   left: -15em;
    z-index: 5;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
    background: linear-gradient(0deg,#2f2e2e 0,#090909 100%);
   color: rgba(255, 255, 255, 0.7);
font-size: 16px;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   position: absolute;
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 4em;
}

.s-sidebar__nav-link em {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
   background: #292929;
}

.s-sidebar__nav-link > i {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.s-sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      margin-left: 4em;
   }
      
   .s-sidebar__nav {
      width: 4em;
      left: 0;
   }
   
   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
   }
}

@media (min-width: 68em) {
   .s-layout__content {
      margin-left: 15em;
   }
   
   .s-sidebar__nav {
      width: 4em;
   }
   
   .s-sidebar__nav ul {
      top: 1.3em;
}
   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;

   }
}
a, a.disabled:hover, a:disabled:hover {
    color: #ffffff;
}
.navbar-header {
    float: inherit;
}
img {
width: 350px;
}
