
<div class="main-panel">
<div class="content">
{{outlet 'error' }}
    <div class="row">
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.immature.balance"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-balance model.stats.immature}} {{config.Unit}}</span>
                    </div>
                    <div class="col-auto">
                   
                        <i class="fa fa-cloud" style="color:#b29244;font-size: 45px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.pending.balance"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-balance model.stats.balance}} {{config.Unit}}</span>
                    </div>
                    <div class="col-auto">

                       <i class="fa fa-bank" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.total.paid"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-balance model.stats.paid}} {{config.Unit}} </span>
                    </div>
                    <div class="col-auto">
             
<i class="fas fa-dollar-sign" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div>   
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Last 24h payouts</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-balance model.24hreward}}</span>
                    </div>
                    <div class="col-auto">
<i class="fas fa-dollar-sign" style="
    color: #b29244;
font-size: 45px;
"></i>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
    <div class="row" style="padding-top:20px;padding-bottom:20px;">
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.last_share_submitted"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}</span>
                    </div>
                    <div class="col-auto">
                   
                        <i class="fa fa-hourglass-half" style="color:#b29244;font-size: 45px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.online"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-number model.workersOnline}}</span>
                    </div>
                    <div class="col-auto">

                       <i class="fa fa-gear" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.hashrate"}} ({{t "account.short_average_abbrv"}})</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-hashrate model.currentHashrate}}</span>
                    </div>
                    <div class="col-auto">
             
<i class="fas fa-tachometer-alt" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div>   
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.hashrate"}} ({{t "account.long_average_abbrv"}})</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-hashrate model.hashrate}}</span>
                    </div>
                    <div class="col-auto">
<i class="fas fa-tachometer-alt" style="
    color: #b29244;
font-size: 45px;
"></i>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
    <div class="row" style="padding-bottom:20px;">
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Earnings per day</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-number earnPerDay}} {{config.Unit}}</span>
                    </div>
                    <div class="col-auto">
                   
                        <i class="fa fa-calculator" style="color:#b29244;font-size: 45px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.blocks.found"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-number model.stats.blocksFound fallback='0'}}</span>
                    </div>
                    <div class="col-auto">

                       <i class="fa fa-cube" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.total.payments"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-number model.paymentsTotal}} </span>
                    </div>
                    <div class="col-auto">
             
<i class="fas fa-dollar-sign" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div>   
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "account.round_share"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-number roundPercent style='percent' maximumFractionDigits='6'}}</span>
                    </div>
                    <div class="col-auto">
<i class="fa fa-percent" style="
    color: #b29244;
font-size: 45px;
"></i>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>


  <ul class="nav nav-tabs" style="font-size:13px;">
    {{#active-li currentWhen='account.index' role='presentation'}}
      {{#link-to 'account.index'}}{{t "account.workers"}}<span class="badge badge-success" style="font-size:1.2rem;color:white;">{{model.workersOnline}}</span> <span class="badge alert-danger"style="font-size:1.2rem;color:white;">{{model.workersOffline}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.rewards' role='presentation'}}
      {{#link-to 'account.rewards'}}Rewards{{/link-to}}
    {{/active-li}}

    {{#active-li currentWhen='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}{{t "account.payouts"}}{{/link-to}}
    {{/active-li}}

  </ul>
{{outlet}}
</div>
</div>
