<div class="main-panel" style="overflow:hidden;">
<div class="content">
<div class="jumbotron">
  <div class="container">
    <p class="lead" style="font-size:21px;">{{t "block.pool_rewards"}}</p>
    <span style="font-size:15px;">
    <strong style="font-size:13px;">Block maturity requires up to:</strong> <span class="white-text label label-info" style="font-size:11px;">520</span> <strong style="font-size:13px;">confs.</strong>

    </span>
  </div>
</div>

  {{#if model.luck}}
    {{partial "luck"}}
  {{/if}}
  {{outlet}}
</div>
</div>
