<style>
.blockquote {
    border-left: none;
    border: 1px solid #344675;
    padding: 20px;
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}
</style>
<div class="main-panel">
<div class="content">
<div class="row">
          <div class="col-md-6">
            <div class="card">
             
              <div class="card-body">
                <div class="alert alert-info">
                  <span><p style="font-size:25px">Getting Started with Protonmine</p><p style="font-size:16px">Easy as 1.. 2.. 3..</p></span>
                </div>
             <div style="font-size: 1.3rem;"><p>Step 1: Download GPU mining software</p>
				  <a href="https://bitcointalk.org/index.php?topic=1433925.0" target="_blank">Claymore Dual Miner</a> (AMD/NVIDIA)<br>
				  <a href="https://github.com/ethereum-mining/ethminer/releasesi/latest" target="_blank">Ethminer</a> (AMD/NVIDIA)<br>
		  		  <br>
				  <p>Step 2: Prepare Wallet Address</p>
				  <a href="https://www.myegemwallet.com/" target="_blank">myegemwallet.com</a> (Egem online wallet)
				  <br><br>
				  <p>Step 3: Configure your .bat file and start mining!</p>
				  Edit/Create your bat file (See samples), start mining!
				  </div>
              </div>
            </div>
          </div>
         <div class="col-md-6">
            <div class="card">
             
              <div class="card-body" style="padding-bottom: 35px;">
                <div class="alert alert-info">
                  <span><p style="font-size:25px">Miner Tips</p><p style="font-size:16px">Information on what is used while setting up your miner.</p></span>
                </div>
             <div style="font-size: 1.3rem;">
				 When setting up your miner you will need a wallet address, and a unique name for your miner. If you only have one mining rig, you can skip the naming process if you wish. It's mearly to distinguish your workers.<hr>
				
				  0x000000000000000000000000000000000... &nbsp;&nbsp;| &nbsp;&nbsp;This is your address for payouts<br>
				  Example: 0x8b92c50e1c39466f900a578edb20a49356c4fe24.<hr>
				 your-worker-1 &nbsp;&nbsp;| &nbsp;&nbsp;ID of your PC/mining-rig to distinguish it from your other rigs.<br>
				 your-worker-2 &nbsp;&nbsp;| &nbsp;&nbsp;Short alphanumeric string with optional dashes and underscores.<br>
			  	 Example: &nbsp;&nbsp;| &nbsp;&nbsp;worker-1
				  </div>
              </div>
            </div>
			 </div>
          </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
             
              <div class="card-body">
                <div class="alert alert-info">
                  <span><p style="font-size:25px">Mining with Claymore</p></span>
                </div>
             <div style="font-size: 1.3rem;">
				  <a href="https://bitcointalk.org/index.php?topic=1433925.0" target="_blank">Claymore Dual Miner</a> (AMD/NVIDIA)<br>
		  		  <br>
				  Claymore Example .bat file:<p class="blockquote blockquote-primary">EthDcrMiner64 -epool egem.protonmine.com:8008 -esm 0 -ewal 0x0000000000000000000000000000000000000000 -eworker your-worker-1 -allcoins 1 -allpools 1</p>
				 <li><code>EthDcrMiner64</code> - executable name for Windows.</li>
				 <li><code>./ethdcrminer64</code> - executable name for Linux/Ubuntu.</li>
				 <li><code>egem.protonmine.com</code> - Stratum Server name.</li>
				 <li><code>-esm 0</code> and <code>8008</code> port number for Stratum Server.</li>
				 <li><code>0x0000000000000000000000000000000000000000</code> - Your wallet address.</li>
				 <li><code>your-worker-1</code> - Your worker name.</li>
				  </div>
              </div>
            </div>
          </div>
         <div class="col-md-6">
            <div class="card">
             
              <div class="card-body">
                <div class="alert alert-info">
                  <span><p style="font-size:25px">Mining with Ethminer</p></span>
                </div>
             <div style="font-size: 1.3rem;">
				 <a href="https://github.com/ethereum-mining/ethminer/releasesi/latest" target="_blank">Ethminer</a> (AMD/NVIDIA)<br><br>
				  Ethminer Example .bat file:<p class="blockquote blockquote-primary">ethminer -SP 1 -U -S egem.protonmine.com:8008 -O 0x0000000000000000000000000000000000000000.your-worker-1 --farm-recheck 2000</p>
				 <li><code>-SP 1</code> - option for Stratum server.</li>
				 <li><code>-u</code> Nvidia GPU or <code>-g</code> for AMD GPU.</li>
				 <li><code>-S egem.protonmine.com:8008</code> - stratum_server_name:stratum_port_number.</li>
				 <li><code>-O 0x0000000000000000000000000000000000000000.your-worker-1</code> - your_wallet_address.your_worker_name</li>
				 <li><code>--farm-recheck 2000</code> - Leave 2000 ms between checks for changed work (default 500ms. use higher value to use stratum for stability)</li>
				  </div>
              </div>
            </div>
			 </div>
          </div>	
	<div class="row">
	<div class="col-md-12">
            <div class="card">
              <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                      <div class="alert alert-info">
                  <span><p style="font-size:25px">Mining with Nice Hash</p></span>
                </div>
						<p>Server: egem.protonmine.com &nbsp;&nbsp;| &nbsp;&nbsp;Port: 8009 &nbsp;&nbsp;| &nbsp;&nbsp; Username: Address &nbsp;&nbsp;| &nbsp;&nbsp; Password: #</p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div><div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="places-buttons">
                  <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                      <h4 class="card-title">
                        Need further assistance?
                        <p class="category">Contact us now.</p>
                      </h4>
                    </div>
                  </div>
   </div>
                      <div class="row">
                        <div class="col-md-6">
                         <a href="https://twitter.com/mathias77992" target="_blank" style="font-size:3rem;"><button class="btn btn-primary btn-block" style="font-size:3rem;"><i class="fab fa-twitter" style="font-size:3rem;"></i> Twitter</button></a>
                        </div>
                        <div class="col-md-6">
                          <a href="https://discord.gg/jy76jEW" target="_blank" style="font-size:3rem;"><button class="btn btn-primary btn-block" style="font-size:3rem;"><i class="fab fa-discord" style="font-size:3rem;"></i> Discord</button></a>          
              </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
</div>
    </div>

