<div class="main-panel">
<div class="content">
    <div class="row">
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Hashrate</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-hashrate stats.model.hashrate}}</span>
                    </div>
                    <div class="col-auto">
                   
                        <i class="fas fa-bolt" style="color:#b29244;font-size: 45px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Block found</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span>
                    </div>
                    <div class="col-auto">

                       <i class="fas fa-cube" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "home.miners_online"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-number stats.model.minersTotal}}</span>
                    </div>
                    <div class="col-auto">
             
<i class="fas fa-user-astronaut" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div>   
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">VARIANCE</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-number stats.roundVariance style='percent'}}</span>
                    </div>
                    <div class="col-auto">
<i class="fas fa-percent" style="
    color: #b29244;
font-size: 45px;
"></i>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
<div class="row" style="
    padding-top: 20px;
    padding-bottom: 20px;
">            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Network hash</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-hashrate stats.hashrate}}</span>
                    </div>
                    <div class="col-auto">
                   
                        <i class="fas fa-tachometer-alt" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "home.blockchain_height"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{format-number stats.height}}</span>
                    </div>
                    <div class="col-auto">

                       <i class="fa fa-bars" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "home.network_difficulty"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{with-metric-prefix stats.difficulty}}</span>
                    </div>
                    <div class="col-auto">
             
<i class="fas fa-chart-line" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div>   
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{t "home.pool_fee"}}</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{config.PoolFee}}</span>
                    </div>
                    <div class="col-auto">
<i class="fa fa-money" style="
    color: #b29244;
font-size: 45px;
"></i>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
<div class="row" style="padding-bottom: 20px;">   
         <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Payouts</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">{{config.PayoutThreshold}} {{config.Unit}}</span>
                    </div>
                    <div class="col-auto">
                   
                        <i class="fas fa-money-check-alt" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Mining scheme</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">PPLNS</span>
                    </div>
                    <div class="col-auto">

                       <i class="fab fa-buffer" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Mining location</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;">Canada</span>
                    </div>
                    <div class="col-auto">
             
<i class="fas fa-globe-americas" style="
    color: #b29244;
font-size: 45px;
"></i>

                    </div>
                  </div>   
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Price</h5>
                      <span class="h2 font-weight-bold mb-0" style="font-size:18px;" id="average-usd"></span>
                    </div>
                    <div class="col-auto">
<i class="fas fa-globe-europe" style="
    color: #b29244;
font-size: 45px;
"></i>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>

<div class="row">
<div class="col-12">
<div class="card card-chart" style="background-color:#0b0b16;">
  {{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
  </div>
</div>
</div>
<div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
<div class="input-group mb-3">
   {{input value=cachedLogin class="form-control" placeholder=(t "home.input.enter_your_wallet_address")}}
  <div class="input-group-append">
  <button class="btn btn-primary waves-effect waves-light" id="search_butt" {{action 'lookup' cachedLogin}}>
                  <i class="fa fa-search"></i> {{t "home.button.lookup"}}
                </button>  </div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">
                <ul class="nav nav-pills nav-pills-primary">
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link1">
                      Phoenixminer
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link2">
                      Claymore
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link3">
                      Nicehash and MRR
                    </a>
                  </li>
                </ul>
                <div class="tab-content tab-space" style="font-size:15px;">
                  <div class="tab-pane" id="link1">
                  <br>
<pre>setx GPU_FORCE_64BIT_PTR 0
setx GPU_MAX_HEAP_SIZE 100
setx GPU_USE_SYNC_OBJECTS 1
setx GPU_MAX_ALLOC_PERCENT 100
setx GPU_SINGLE_ALLOC_PERCENT 100
PhoenixMiner.exe -pool stratum+tcp://egem.protonmine.com:8008 -wal 0x0000000000000000000000000000000000000000 -worker rig1 -pass x</pre>


                  </div>
                  <div class="tab-pane" id="link2">
<br>
<pre>setx GPU_FORCE_64BIT_PTR 0
setx GPU_MAX_HEAP_SIZE 100
setx GPU_USE_SYNC_OBJECTS 1
setx GPU_MAX_ALLOC_PERCENT 100
setx GPU_SINGLE_ALLOC_PERCENT 100
EthDcrMiner64.exe -epool stratum+tcp://egem.protonmine.com:8008 -ewal 0x0000000000000000000000000000000000000000 -eworker rig1 -epsw x -allcoins -1 -allpools 1</pre>


                  </div>
                  <div class="tab-pane" id="link3">
                    <br>
<h4 style="font-size: 17px;">Nicehash</h4>
<pre>Algo: DaggerHashimoto
Host: egem.protonmine.com
Port: 8009
User: Wallet address
Pass: # </pre>
<br>
<h4 style="font-size: 17px;">Miningrigrentals</h4>
<pre>Algo: DaggerHashimoto
Host: egem.protonmine.com
Port: 8009
User: Wallet address
Pass x</pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
</div>
</div>

 
