<div class="row">
         <div class="col-md-12">
       <ul class="nav nav-tabs" style="font-size:13px;">
    {{#active-li currentWhen='blocks.index' role='presentation'}}
      {{#link-to 'blocks.index'}}{{t "block.blocks"}} <span class="badge alert-success" style="color: #ffffff;background-color: #25242e; font-size:11px;">{{format-number model.maturedTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.immature' role='presentation'}}
      {{#link-to 'blocks.immature'}}{{t "block.immature"}} <span class="badge alert-success" style="color: #ffffff;background-color: #25242e;  font-size:11px;">{{format-number model.immatureTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.pending' role='presentation'}}
      {{#link-to 'blocks.pending'}}{{t "block.new"}} <span class="badge alert-info" style="color: #ffffff;background-color: #25242e; font-size:11px;">{{format-number model.candidatesTotal}}</span>{{/link-to}}
    {{/active-li}}
  </ul>

            <div class="card ">
              <div class="card-body">
                <div class="table-responsive" style="overflow: auto;">
<table class="table tablesorter " id="" style="font-size: 12px;">
                    <thead class=" text-primary">             <tr>
        <th>{{t "luck.blocks"}}</th>
        <th>{{t "luck.shares_diff"}}</th>
        <th>{{t "luck.uncle_rate"}}</th>
        <th>{{t "luck.orphan_rate"}}</th>
      </tr>
    </thead>
    <tbody>
    {{#each-in model.luck as |total row|}}
    <tr>
      <td>{{total}}</td>
      <td>{{format-number row.luck style='percent'}}</td>
      <td>{{format-number row.uncleRate style='percent'}}</td>
      <td>{{format-number row.orphanRate style='percent'}}</td>
    </tr>
    {{/each-in}}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
