<div class="main-panel" style="overflow:hidden;">
<div class="content">

<div class="jumbotron">
  <div class="container">
    <p class="lead">Hashrate: {{format-hashrate model.hashrate}}.</p>
    <strong style="font-size:13px;">{{t "miners.total_miners"}}:</strong> <span class="badge alert-info" style="font-size:11px;background-color: #27293d;color:#fff;">{{model.minersTotal}}</span>
  </div>
</div>
          <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
  {{#if model.miners}}
  <h3>{{t "miners.miners"}}</h3>
                <div class="table-responsive" style="overflow: auto;">
<table class="table tablesorter " id="" style="font-size: 12px;">
                    <thead class=" text-primary"> 
<tr>
          <th>{{t "miners.login"}}</th>
          <th>{{t "miners.hashrate"}}</th>
          <th>{{t "miners.last_beat"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.miners as |m|}}
        <tr class="{{if m.offline "warning"}}">
          <td>{{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}</td>
          <td>{{format-hashrate m.hr}}</td>
          <td>{{format-date-locale m.lastBeat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>{{t "miners.no_miners"}}</h3>
  {{/if}}
</div>
  </div>
  </div>
  </div>
  </div>
 </div>
