<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EGEM | Protonmine.com</title>
    <meta name="description" content="High profitability EGEM mining pool with great support and uptime"/>
    <meta name="keywords" content="EGEM, Ethergem, pool, mining, cryptocurrency, Open-Ethereum-Pool, Open-EGEM-Pool,"/>
    <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en"></script>
    {{content-for "head"}}
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/open-social-pool.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
   <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

    {{content-for "head-footer"}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122313826-1"></script>
<style>
body::-webkit-scrollbar {
    width: 10px;
    background-color: #fff0;
      -webkit-box-shadow: inset 1px 0 5px rgba(0,0,0,0.1);
}
body::-webkit-scrollbar-track {
    background-color: #fff0;
}
body::-webkit-scrollbar-thumb {
background-image: linear-gradient(to left bottom, #000000, #070707, #0d0d0d, #121212, #161616);
}
.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 15px;
    list-style: none;
}
.col {
    padding-right: 0px;
    padding-left: 5px;
}
.bodyClick::.navbar {
padding-left:100px;
}
.card .card-body .card-title {
    font-size: 12px;
}
 
</style>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-122313826-1');
    </script>

  </head>
  <body class="data-gr-c-s-loaded="true" style="font-family: "Poppins", sans-serif;">
<script src="https://protonmine.com/assets/js/core/jquery.min.js"></script>
<script src="https://protonmine.com/assets/js/black-dashboard.min.js?v=1.0.0"></script>
<script src="https://protonmine.com/assets/js/core/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/open-social-pool.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script>
function navbar-toggler() {
  document.getElementById("sidebar").style.width = "250px";
  document.getElementById("navbar-wrapper").style.marginLeft = "250px";
}

function navbar-toggler() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

</body>
</html>
